body {
    font-family: 'Roboto', sans-serif;
    background: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    Color: #F9FAF8;
    font-family: "Roboto";
    align-items: center;
    padding: 25px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
  }

  .container-1 {
    background: #1f2937;
    display: flex;
    justify-content: space-around;

  }

  .container-1 .hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
  }
  
  img {
   display: flex;
   width: 375px;
   height: auto;
   align-self: center;
  }

  .subtext {
    color: #E5E7EB;
  }

  .sign-up {
    display: flex;
    padding: 16px;
    background-color: #3882F6;
    Color: white;
    margin-top: 10px;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
  }

  .left {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .right {
    display: flex;
    margin: 30px;
    padding-right: 100px;
  }
.container-2 {
    background-color: white;
}

  .container-2 img {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 100px;
  }